<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webcam Video Recorder</title>
    <script src="../static/script.js"></script>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <h1>Record your interview</h1>
    <video id="video" autoplay></video>
    <br>
    <button id="start" onclick="startRecording()">Start Recording</button>
    <button id="stop" onclick="stopRecording()" disabled>Stop Recording</button>
    <a id="download" style="display:none;" download="recorded-video.webm">Download Video</a>

    <script>
        
    </script>
</body>
</html>
