<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webcam Video Recorder</title>
    <script src="../static/script.js"></script>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <h1>Record your interview</h1>
    <div class="container">
      <video id="webcam" autoplay></video>
      <br>
      <!-- 
      <button id="start" onclick="startRecording()">Start Recording</button>
      <button id="stop" onclick="stopRecording()" disabled>Stop Recording</button>
      <a id="download" style="display:none;" download="recorded-video.webm">Download Video</a>
      -->
    </div>

    <div class="right-panel">
      <div class="quote-box">
          <p>"Question"</p>
      </div>
      <button class="btn prep-btn">Prep</button>
      <button class="btn record-btn">Record</button>
    </div>
    
</body>
</html>
